<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmailHost" value="smtp.gmail.com" />
		<add key="EmailPort" value="587" />
		<add key="ClientName" value="Client Test" />
		<add key="ClientEmailAddress" value="rontgolt2@gmail.com" />
		<add key="EmailPassword" value="nkda hbbj icsg gabd" />
		<add key="LoggingPath" value="C:\EmailLoggingFile\" />
		<add key="EmailLogFile" value="EmailLog.txt" />
	</appSettings>
</configuration>